<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256841801977-j6gpu5cq3etlp5pgsrclkd0m9iddrbl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256841801977-j6gpu5cq3etlp5pgsrclkd0m9iddrbl3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>256841801977-4gk9c14654vco9ivfsj6r94hlem7sj72.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwmjbMx0b7m8fAPe5g8934X1y003mrFH0</string>
	<key>GCM_SENDER_ID</key>
	<string>256841801977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.november.gameNote</string>
	<key>PROJECT_ID</key>
	<string>gamenoteapp</string>
	<key>STORAGE_BUCKET</key>
	<string>gamenoteapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256841801977:ios:ca5f6c73eff78aac6b8228</string>
</dict>
</plist>